/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

*/

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    font-size: 14px;
    background: hsl(30, 38%, 92%);
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: hsl(0, 0%, 100%);
    width: 30%;
    min-width: 600px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    height: auto;
}

.image{
    overflow: hidden;
}

.imagen{
    height: 100%;
    overflow: hidden;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.title{
    color: hsl(228, 12%, 48%);
    margin: 0 ;
}

.name{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin: 0;
}

.description{
    color: hsl(228, 12%, 48%);
    margin: 0;
    line-height: 25px;
}

.price{
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.before-price{
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.button{
    width: 100%;
    height: 50px;
    background: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.button:hover{
    cursor: pointer;
    transition: 0.3s;
    background: hsl(158, 36%, 27%);
}

.material-symbols-outlined{
    margin-right: 10px;
}

@media (max-width: 630px){
    .card{
        min-width: 90%;
        height: 90%;
        flex-direction: column;
    }

    .image{
        height: 50%;
    }

    .imagen{
        width: 100%;
        height: auto;
    }

    .text{
        width: 90%;
        justify-content: space-between;
    }

    .title{
        margin: 10px 0;
    }

    .name{
       margin: 10px 0;
    }
    
    .description{
        margin: 10px 0;
    }
    
    .price{
       margin: 10px 0;
    }

    .button{
        margin: 10px 0;
    }
    
}